/docs/
/lib/*
!/lib/image_size/
!/lib/mg/
!/lib/archive/
/bin/
/.shards/
.coding-memory/
*.dwarf
node_modules
yarn.lock
dist
mango
.env
*.md
public/css/uikit.css
public/img/*.svg
public/js/*.min.js
public/css/*.css
public/webfonts
*.h
!lib/image_size/**/*.h
!lib/mg/**/*.h
!lib/archive/**/*.h
src/util/proxy.cr.disabled
dist/
