# Port that exposes the HTTP frontend
PORT=9000

# Path to the mango main directory
# This directory holds the database and the library files
# Defaults to ./data/mango if not set
MAIN_DIRECTORY_PATH=

# Path to the mango config directory
# This directory holds the mango configuration path
# Defaults to ./data/config if not set
CONFIG_DIRECTORY_PATH=
